    <h5 class="card-title mb-3 fs-6 fw-bold text-truncate" [title]="name()">
      {{ name() }}
    </h5>

      <div class="ratio ratio-1x1 bg-light">
    <img
      [src]="picture()"
      class="card-img-top object-fit-cover rounded"
    />
  </div>
    
    <div class="character-stats flex-grow-1">
      <div class="d-flex justify-content-between align-items-center mb-2 pb-1 border-bottom">
        <small class="text-muted fw-medium">Altura:</small>
        <small class="fw-semibold">{{ height() }} cm</small>
      </div>
      
      <div class="d-flex justify-content-between align-items-center mb-2 pb-1 border-bottom">
        <small class="text-muted fw-medium">Peso:</small>
        <small class="fw-semibold">{{ mass() }} kg</small>
      </div>
      
      <div class="d-flex justify-content-between align-items-center mb-2 pb-1 border-bottom">
        <small class="text-muted fw-medium">Género:</small>
        <small class="fw-semibold text-capitalize">{{ gender() }}</small>
      </div>
      
      <div class="d-flex justify-content-between align-items-center mb-2 pb-1 border-bottom">
        <small class="text-muted fw-medium">Planeta:</small>
        <small class="fw-semibold text-truncate" [title]="homeworld()">{{ homeworld() }}</small>
      </div>
      
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted fw-medium">Color pelo:</small>
        <small class="fw-semibold text-capitalize">{{ hair_color() }}</small>
      </div>
    </div>
